# 0.0 - Imports

In [1]:
import numpy             as np
import pandas            as pd

from   datetime          import datetime
from   prophet           import Prophet

# 0.1 - Data

In [2]:
dfs = []

for i in range(2002, 2019):
    file = rf"C:\Users\gfurt\Ciência de dados\Séries temporais\inmet_prophet\Dados\INMET_SE_RJ_A601_ECOLOGIA AGRICOLA_01-01-{i}_A_31-12-{i}.csv"
    df = pd.read_csv(file, encoding='ISO-8859-1', delimiter=';', skiprows=8)
    dfs.append(df)
    
df_raw_1 = pd.concat(dfs, ignore_index=True)

In [3]:
cols = df_raw_1.columns
dfs = []

for i in range(2019, 2024):
    file = rf"C:\Users\gfurt\Ciência de dados\Séries temporais\inmet_prophet\Dados\INMET_SE_RJ_A601_SEROPEDICA-ECOLOGIA AGRICOLA_01-01-{i}_A_31-12-{i}.csv"
    df = pd.read_csv(file, encoding='ISO-8859-1', delimiter=';', skiprows=9,
                     names=cols)
    dfs.append(df)
    
df_raw_2 = pd.concat(dfs, ignore_index=True)

In [4]:
df_raw_2['HORA (UTC)'] = df_raw_2['HORA (UTC)'].str[:4]
df_raw_2['HORA (UTC)'] = df_raw_2['HORA (UTC)'].apply(lambda x: datetime.strptime(x, '%H%M').strftime('%H:%M'))

In [5]:
# Convertendo a coluna 'DATA (YYYY-MM-DD)' em df_raw_1 para datetime
df_raw_1['DATA (YYYY-MM-DD)'] = pd.to_datetime(df_raw_1['DATA (YYYY-MM-DD)'])

# Convertendo a coluna 'DATA (YYYY-MM-DD)' em df_raw_2 para datetime
df_raw_2['DATA (YYYY-MM-DD)'] = pd.to_datetime(df_raw_2['DATA (YYYY-MM-DD)'])

In [6]:
df_raw = pd.concat([df_raw_1, df_raw_2], ignore_index=True)

# 1.0 - Data description

In [7]:
df1 = df_raw.copy()

In [11]:
df1.shape

(175320, 20)

In [8]:
df1.dtypes

DATA (YYYY-MM-DD)                                        datetime64[ns]
HORA (UTC)                                                       object
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                                 object
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)            object
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)                  object
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)                 object
RADIACAO GLOBAL (KJ/m²)                                          object
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)                     object
TEMPERATURA DO PONTO DE ORVALHO (°C)                             object
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)                       object
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)                       object
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)                 object
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)                 object
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                        float64
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                        float64
UMIDADE RELATIVA DO AR, HORARIA (%)                             float64
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                            float64
VENTO, RAJADA MAXIMA (m/s)                                       object
VENTO, VELOCIDADE HORARIA (m/s)                                  object
Unnamed: 19                                                     float64
dtype: object

In [9]:
df1.isnull().sum()

DATA (YYYY-MM-DD)                                             0
HORA (UTC)                                                    0
PRECIPITAÇÃO TOTAL, HORÁRIO (mm)                           2285
PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)      2186
PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)            2190
PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)           2190
RADIACAO GLOBAL (KJ/m²)                                   16736
TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)                952
TEMPERATURA DO PONTO DE ORVALHO (°C)                        952
TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)                  958
TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)                  957
TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)            957
TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)            957
UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)                    957
UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)                    957
UMIDADE RELATIVA DO AR, HORARIA (%)                         952
VENTO, DIREÇÃO HORARIA (gr) (° (gr))                        949
VENTO, RAJADA MAXIMA (m/s)                                  954
VENTO, VELOCIDADE HORARIA (m/s)                             949
Unnamed: 19                                              175320
dtype: int64

In [16]:
df_aux = df1[df1['TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)'].isnull()]
df_aux = df_aux[['DATA (YYYY-MM-DD)', 'HORA (UTC)']]
df_aux['DATA (YYYY-MM-DD)'].unique()

<DatetimeArray>
['2019-01-13 00:00:00', '2019-06-18 00:00:00', '2019-07-17 00:00:00',
 '2019-11-22 00:00:00', '2019-11-23 00:00:00', '2019-11-24 00:00:00',
 '2019-11-25 00:00:00', '2019-11-26 00:00:00', '2019-11-27 00:00:00',
 '2019-11-28 00:00:00', '2019-11-29 00:00:00', '2019-11-30 00:00:00',
 '2019-12-01 00:00:00', '2019-12-02 00:00:00', '2019-12-03 00:00:00',
 '2019-12-04 00:00:00', '2019-12-05 00:00:00', '2019-12-06 00:00:00',
 '2019-12-07 00:00:00', '2019-12-08 00:00:00', '2019-12-09 00:00:00',
 '2019-12-10 00:00:00', '2019-12-11 00:00:00', '2019-12-12 00:00:00',
 '2019-12-13 00:00:00', '2019-12-14 00:00:00', '2019-12-15 00:00:00',
 '2019-12-16 00:00:00', '2019-12-17 00:00:00', '2019-12-18 00:00:00',
 '2019-12-19 00:00:00', '2019-12-20 00:00:00', '2019-12-21 00:00:00',
 '2019-12-22 00:00:00', '2019-12-23 00:00:00', '2019-12-24 00:00:00',
 '2019-12-25 00:00:00', '2019-12-26 00:00:00', '2019-12-27 00:00:00',
 '2019-12-28 00:00:00', '2019-12-29 00:00:00', '2019-12-30 00:00:00',
 '2019-12-31 00:00:00', '2021-07-31 00:00:00', '2022-03-25 00:00:00',
 '2022-07-15 00:00:00']
Length: 46, dtype: datetime64[ns]

In [29]:
df_aux[df_aux['DATA (YYYY-MM-DD)'] == '2019-12-07 00:00:00']

       DATA (YYYY-MM-DD) HORA (UTC)
148416        2019-12-07      00:00
148417        2019-12-07      01:00
148418        2019-12-07      02:00
148419        2019-12-07      03:00
148420        2019-12-07      04:00
148421        2019-12-07      05:00
148422        2019-12-07      06:00
148423        2019-12-07      07:00
148424        2019-12-07      08:00
148425        2019-12-07      09:00
148426        2019-12-07      10:00
148427        2019-12-07      11:00
148428        2019-12-07      12:00
148429        2019-12-07      13:00
148430        2019-12-07      14:00
148431        2019-12-07      15:00
148432        2019-12-07      16:00
148433        2019-12-07      17:00
148434        2019-12-07      18:00
148435        2019-12-07      19:00
148436        2019-12-07      20:00
148437        2019-12-07      21:00
148438        2019-12-07      22:00
148439        2019-12-07      23:00

# 2.0 - Feature engineering

In [10]:
# Convertendo a coluna 'Data' para datetime
df1['DATA (YYYY-MM-DD)'] = pd.to_datetime(df_raw['DATA (YYYY-MM-DD)'])

# Convertendo a coluna 'Hora' para timedelta, considerando que o formato seja '00:00'
df_raw['HORA (UTC)'] = pd.to_timedelta(df_raw['HORA (UTC)'] + ':00')

# Criando a coluna 'Data_Hora' combinando 'Data' e 'Hora'
df_raw['Data_Hora'] = df_raw['DATA (YYYY-MM-DD)'] + df_raw['HORA (UTC)']

In [11]:
df = df_raw[['Data_Hora', 'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)']]
df = df.rename(columns={'Data_Hora': 'ds', 'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)':'y'})
df['y'] = df['y'].str.replace(',', '.').astype(float)
df.head()

                   ds     y
0 2002-01-01 00:00:00  24.7
1 2002-01-01 01:00:00  24.4
2 2002-01-01 02:00:00  23.0
3 2002-01-01 03:00:00  22.6
4 2002-01-01 04:00:00  22.2

# 3.0 - Data Cleaning

# 4.0 - Exploratory Data Analysis

# 5.0 - Feature Selection

# 6.0 - Machine Learning

# 7.0 - Hyperparameter Fine Tunnig

# 8.0 - Model Evaluation